.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(177, 0, 0), 0 0 20px rgb(177, 0, 0), 0 0 30px #8b0347, 0 0 40px #b6005b, 0 0 50px #a30052, 0 0 60px #9c004e, 0 0 70px #880044;
  }

  to {
    text-shadow: 0 0 20px rgb(177, 0, 0), 0 0 30px #96004b, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 105px;
  font-size: 30px;
}

.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fixed_z-index {
  height: 30px;
  background-color: orange;
  z-index: 10;
}

.abusoluto {
  position: absolute;
  border: 1px solid red;
  top: 20px;
  right: 10px;
}

.relativo {
  position: relative;
  border: 1px solid blue;
  width: 300px;
  height: 100px;
}

.istiqui {
  position: sticky;
  bottom: 0;
}

.pad {
  border: 1px solid brown;
  padding: 30px 50px 30px 80px;
  background-color: lightblue;

}

.margen {
  margin: 100px 100px 100px 100px;
  background-color: darkolivegreen;
}


.p3 {
  font-family: 'Noto Serif', serif;
}

.p1 {
  font-family: 'Saira Condensed', sans-serif;


}

.line {
  display: inline;
  background-color: blue;
  color: white;
  margin: 10px;
}

.block {
  display: block;
  background-color: greenyellow;
  width: 500px;
}

.ib {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #a30052;
  color: white;
}

#id {
  background-color: forestgreen;
  font-size: 30px;


}

p {
  background-color: #ff4da6;
  border: blue;

}

div span {
  background-color: rgb(170, 0, 113);
  color: #ddd;
}

div>span {
  background-color: rgb(0, 0, 0);
  color: white;
}

.dado {
  background-color: red;
}

.dado {
  background-color: rgb(98, 1, 189);
}

.z {
  position: absolute;
  left: auto;
  width: auto;
  background-color: rgb(177, 0, 0);
  z-index: 3;
}

.rgb {
  background-color: rgb(174, 111, 226);

}

.rgba {
  background-color: rgba(251, 255, 0, 0.89);
}

.hex {
  background-color: #a24570;
}

.texto {
  background-color: silver;
  color: black;
}

.vh {
  width: 75vh;
  border: 1px solid green;
}

.vw {
  width: 65vw;
  border: 10px solid yellow;
}

.por100 {
  height: 65%;
  border: 1px solid rgb(255, 0, 0);
}

.paipor100 {
  width: 200px;
  height: 300px;
  border: 1px solid blue;
}

img {
  float: left;
}

.right {
  float: right;
}